<div class="text-box">
  <%= render 'form_min' %>
</div>

<% @entries.reverse.each do |entry| %>
  <div id="entry">
    <h1 class="entry-title"><%= entry.title %></h1>
    <div class="entry-content"><%= entry.body %>
      <h3 class="entry-subtitle"><%= entry.subtitle %></h3> 
    </div>
  </div>
<% end %>
<br />



